@import 'reset.css';
body {
    background: #3e2723;
    color: white;
}

#game-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    line-height: 50px;
    padding: 20px;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
}

#canvas-container {
    position: relative;
    background: #94746e;
    width: 600px;
    height: 900px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    font-family: 'Squada One', cursive;
    padding-top: 50px;
    flex: 1 1 auto;
}

aside header {
    font-size: 30px;
    line-height: 30px;
    padding: 12px;
}